.contentCard {
	.imgRecipe {
		height: 100%;
		img {
			border-radius: 20px;
			width: 250px;
			height: 100%;
		}
	}
	.ingredientList {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(3, 1fr);
	}
}
